<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Country Information</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <h1 class="title"><%- country %></h1>
    <%- flag %>
    <h3>Capital: <%- capital %></h3>
    <h3>Region: <%- region %></h3>
    <h3>Subregion: <%- subregion %></h3>
    <h3>Population: <%- population %></h3>
    <h3>Currency: <%- currency %></h3>
    <h3>Currency Symbol: <%- symbol %></h3>
    <h3>Language: <%- language %></h3>
    <h3>Language Native Name: <%- native %></h3>
    <br />
    <a href="/">Back to Search</a>
  </body>
</html>
